#root {
  margin: 0;
}

.poppins {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inter {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.white-text {
  color: rgba(255, 255, 255, 0.87);
}

.white-bg {
  background-color: rgba(255, 255, 255, 0.87);
}