#root {
  margin: 0;
  height: 100vh;
}

.poppins {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inter {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.white-text {
  color: rgba(255, 255, 255, 0.87);
}

.white-bg {
  background-color: rgba(255, 255, 255, 0.87);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-25 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.25;
  }
}

.fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

.fade-in-fast {
  animation: fade-in 0.1s ease-out forwards;
}

.fade-in-25 {
  animation: fade-in-25 0.3s ease-out forwards;
}